body{
    background-color: #f0f0f0 !important;
}
.settingItem{
    width:100% !important;
    padding:2px !important;

}

.selected{
    background-color: blue !important;
    transition: all 1s;
}
.skillOne:hover {
    background-color: #2386c8 !important;
}

.skillOne:hover p {
    color:white !important;
}

#MemberImage {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
#loginForm{
    margin-top:10%;
}
.skillsbadge{
    margin-right:6px;
}
