body{
    background: #fff;
}
.allProject{
    width:216px;
    background: #fff;
    margin-bottom: 20px;
}
.inner{
    padding:8px;
}
.tail{
    width:200px;
    border:2px solid #eee;
    height: 140px;
    margin-bottom: 20px;
    background: #ddd;
    overflow-y: auto;
    overflow-x:hidden ;
    padding:8px;
    background: #fff;
}
.head{
    width:100%;
    padding: 8px;
}
a{
    text-decoration: none;
    color:#000;
}
a:hover{
    text-decoration: none;
    color:#000;
}
.work-card{
    background: #fff;
    height: 200px;
    padding:10px;
}
.custom-hr{
    border:1px solid #eee;
    margin-left:-10px;
    margin-right:-10px;
    margin-top:5px;
    margin-bottom: 5px;
}
.heading{
    padding:5px;
}
.body-work-card{

}
.likes{
    padding:5px;
}
.likes p{
    display: inline;
    margin-right:80px;
}
.work-card2{
    top: -180px;
    background: #fff;
    position: relative;
    height: 200px;
    padding:10px;
    margin-top: 15px;
}
.buttonView{
    margin: 73px auto;
    display: block;
    
}
.work-details{
    height: 385px;

}
.work-description{
    margin:100px 10px;
    font-family: 'Courier New', Courier, monospace;
    height: auto;
}
.heading-work-details{
    margin:10px 20px;
}
.shwolink{
    width:100%;
    padding:10px;
}
.OuterLayout{
    height: fit-content;
   
    background: #fff;
    padding: 10px;
}
.member{
    margin-top:100px;
}
.MemberHead h4{
    margin-bottom: 10px;
    color:#86bce1;
    cursor: pointer;
}
.Brief{
    clear: both;
}
.MemberRole{
    margin-left: 10px;
    color: rgba(0,0,0,0.7);
}
.RoleJob{
    line-height: 10px;
}
.Employee{
    margin-right: 20px !important;
    margin-top: 40px;
}
.MemberImage{
    display: inline;
}
.MemberImage img{
    width: 150px;
    height: 150px;
    border-radius:50%;
}
.allItems{
    margin-top:50px;
}
.carousel-item img{
    height:450px !important;
}
.asSelectBox{
    background: #fff;
    padding: 5px;
    max-height: 200px;
    overflow-y:auto;
    overflow-x: hidden;
    position: relative;
}
.skill{
    padding: 6px;
}
.skill:hover{
    background: #2386c8;
}
.allSkills{
    height: 150px;
    overflow-y: auto;
    background: #fff;
}
.allSkills a{
    display:block;
    padding:10px;
    text-decoration: none;
}
.allSkills a:hover{
    background: #2386c8;
} 

.memberhead2{
    height: 400px !important;
    background: #fff;
}
.profileInfo{
   
}
.profileInfo img{
    border-radius: 50%;
    margin-top: 50px;
}
.profileInfo p{
    font-size: 150%;
}
.memberInfofooter{
    margin-top: 7px;
}
.sectionhead{
    padding:10px;
    cursor: pointer;
}

.sectionhead{
    font-size: 110%;
}
.About_Youclass{
    background:#fff;
    padding: 20px;
    height: auto;
    margin-top: 30px;
}
.stat{
    margin-top: 30px;
    background: #fff;
    height: auto;
    padding:20px
}
.centerDiv{
    padding:20px;
    background: #dce6f1;
    border-radius: 12px;
    margin-bottom: 35px;;
}
.DivAllJobs{
    background: #fff;
    height: auto;
    padding:20px;
    border-radius: 12px;
    margin-bottom: 35px;;

}
.jobDiv{
    background: #fff;
    padding:20px;
    height: 180px;
    border:1px solid #ddd;
    cursor: pointer;
    border-radius: 10px;;
}
.jobDiv:hover{
    border:1px solid #9999;
    box-shadow:  1px 2px #888888;
}
.UserJob{
    margin-top: 100px;
}
.share_post{
    background: #fff;
    border-radius: 10px;
    height: 140px;
    padding:20px;
    cursor: pointer;
}
.share_post input {
    border-radius: 30px;
}
.writepost{
    background: #fff;
}
.writepost_heading{
    padding: 20px;
}
#avatar{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-right:10px;
    cursor: pointer;
}

/* Start Services Page */

.Our-services{
    min-height: 300px!important;
    max-height: 1400px!important;
    height: auto;
  }
  .Our-services .InnerClass{
    background-color:#eee;
    height: 180px !important;
    background-size: cover;
  }
  .Our-services .Our-services-Head .Service{
      background-color:#eee;
      margin-top: -40px;
      height:60px;
      padding:5px;
      cursor: pointer;
      margin-bottom: 50px;
  }
  
  .Our-services .Our-services-Head .Service p{
      color:hsl(195deg 77% 22%);
  }
  .Our-services-Body .ServiceHeading{
    color:hsl(19deg 87% 59%);
    margin-left: 25px;
  }
  .Our-services-Body p{
    font-size: 15px;
  }
  .Our-services-Body ul li{
    font-size: 13px;
    line-height: 3.1;
    color:hsl(196deg 74% 23%);
    cursor: pointer;
  }
  .Our-services-Body ul li i{
    font-size: 10px;
  }
  .Active2{
      background-color:  #fff!important;
  }
  .Active2 p{
    color:hsl(22deg 89% 55%) !important;
  }
  .Our-services .Our-services-Body{
    margin-top:30px;
    height: 200px;
  }
  
.Ser{
    margin-top: -50px;
}
.outerBox{
    background: #eee;
    height: 120px;
    
}
.Service{
    height: 60px;
    padding:10px;
    padding-top:20px;
   
    cursor:pointer
}

/* End Services Page*/


/*Job */
.FilterHead{
    text-align: center;
}
.FilterHead p {
    height: 40px;
    width:100px;
    padding:8px;
    border-radius: 1.59rem;
    border:1px solid rgb(59, 58, 58)
}
.JobFilters .DatePostList{
     height: auto;
     width:100%;
     background-color: #000;
}
/*Job*/
/*Start Notifications*/
.dropdown-menu-media{
    width:300px !important;

    height: 200px !important;
    overflow-y: auto !important;
}
.media-body{
    padding:5px;
}
.notificationBody{
    padding-bottom: 5px;
}
.notificationBody:hover{
    background-color: #eee;
}
/*End Notifications*/

/* start job decoration */
/* end job decoration */
.job-des{
    min-height: 40;
    max-height: 55px;
    height: auto;
    overflow: hidden;
}
.postsInProfile{
    max-height: 600px;
    min-height: 500px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.jobDetailsParent{
    max-height: 300px;
    min-height: 200px;
    height: auto;
    overflow-y:  scroll;
    overflow-x: hidden;
    border: 1px solid #eee;
    margin-bottom: 40px;
    padding:10px;
    padding-top:30px;
}
.jobDetailsParent .option i{
    color:blue;
    font-size: 22px;
    cursor: pointer;
}
.jobDetailsParent .companystat{
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #eee;
    border-left: none;
}
.jobDetailsParent .details .filt{
    margin-top: 30px;
    margin-bottom: 30px;

}
.jobDetailsParent .details .filt span{
    font-size: 18px;
}